.search-button{
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px; /* sรณ pra alinhar com o input */
}

.search-button:hover{
    background-color: #218838;
}