.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f9f9f9;
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 8px;
    width: 80%;
    height: 30%;
}

.card-header{
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: 600;
    color: black;
    border-bottom: 1px solid #000000;
}

.card-body{
    display: flex;
    flex-direction: row;
    font-size: 25px;
    font-weight: 400;
    color: #000000;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.card-footer{
    display: flex;
    justify-content: center;
    font-size: 12px;
    color: black;
    border-top: 1px solid #000000;
}

.card-icon{
    width: 30px;
    height: 30px;
}